.Header {
    background-color: #ff0000;
    padding: 20px;
    margin: 20px;
    display: flex;
    justify-content: space-between;
}

.Header h1 {
    width: 20%;
}

.Header ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 75%;
}